@use "../config/" as *;
.card {
  background-color: var(--function-body);
  // background-image: url("../../img/bg1.png");
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  isolation: isolate;
  display: grid;
  gap: 3rem;
  padding: 3rem;
  min-height: 100%;
  // background: var(--function-body);
  // box-shadow: 5px 5px 20px var(--neutral-350), -5px -5px 20px var(--neutral-200);
  box-shadow: inset 5px 5px 10px var(--neutral-350),
    inset -5px -5px 10px var(--neutral-200);
  @include mq(lg) {
    &-md-sticky {
      position: sticky;
      top: var(--header-height);
    }
  }
  &-service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    z-index: 2;
  }
  &-social-wrap {
    order: 2;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &-image {
    text-align: center;
  }
  &-profile {
    padding: 4rem 3rem;
    img {
      background-image: radial-gradient(var(--primary-100), var(--primary-500));
      border-radius: 3rem 0 3rem 0;
      aspect-ratio: 1/1;
      object-position: top;
      // filter: grayscale(100%);
    }
    @include mq(md) {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }
  &-experience {
    .card-title {
      opacity: 0.7;
      margin-bottom: 1rem;
    }
  }
  &-about-profile {
    padding: 4rem 3rem;
    text-align: center;
    .card-content {
      padding-right: 0;
    }
    button {
      order: 3;
    }
    img {
      background-image: radial-gradient(var(--primary-100), var(--primary-500));
      aspect-ratio: 1/1;
      border-radius: 3rem 0 3rem 0;
      object-position: top;
    }
  }
  &-project {
    img {
      border-radius: 0 3rem 0 3rem;
    }
  }
  &:not(.card-profile, .card-about-profile, .card-image, .card-project) {
    img {
      height: 10rem;
      object-fit: contain;
    }
  }
  &-image {
    justify-content: center;
    img {
      border-radius: 2rem;
    }
  }
  &-heading {
    width: 100%;
    gap: 1rem;
    font-size: 2.4rem;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    @include mq(md) {
      font-size: 5rem;
      line-height: 1;
      margin: 0;
    }
  }
  &-knowledge {
    .card {
      gap: 1rem;
      &-title {
        margin: 0;
      }
    }
  }
  &-sub-title {
    font-size: 1.2rem;
    color: var(--neutral-700);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  &-title {
    font-size: 2rem;
    margin-block: 1rem 0;
    font-weight: 500;
    color: var(--neutral-900);
  }
  &-name {
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
  &-social {
    position: relative;
    z-index: 4;
  }
  &-icon {
    box-shadow: inset 5px 5px 10px var(--neutral-350),
      inset -5px -5px 10px var(--neutral-200);
    padding: 2rem;
    border-radius: 50%;
  }
  &-text {
    color: var(--neutral-700);
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 1.5;
  }
  &-marquee {
    padding: 2rem;
  }
  &-content {
    padding-right: 5rem;
  }
  &-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  &-project {
    img {
      aspect-ratio: 1/1;
      transition: 5s linear;
      object-position: top;
    }
    &:hover {
      img {
        object-position: bottom;
      }
    }
  }
  &-list {
    display: grid;
    gap: 3rem;
    margin-bottom: 3rem;
    &-about {
      @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    &.mb-0 {
      margin-bottom: 0;
    }
  }
  &-service {
    &-item {
      .card-title {
        margin-bottom: 1rem;
      }
    }
    .marquee {
      z-index: 2;
    }
    .card-icon {
      transition: 300ms;
      &:hover {
        color: var(--brand-color, inherit);
      }
    }
  }
  &-contact {
    padding-top: 12rem;
    gap: 0;
    align-items: flex-end;
    padding-right: 7rem;
    @include mq(lg) {
      padding-top: 7rem;
    }
    .star {
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      left: 4rem;
      filter: invert(1);
      @include mq(md) {
        width: 3rem;
        object-fit: contain;
        object-position: top;
      }
    }
    @include mq(darkMode) {
      .star {
        filter: unset;
      }
    }
    .card-title {
      font-size: 3rem;
      margin: 0;
      line-height: 1.5;
    }
  }
  &-exp {
    text-align: center;
    .card {
      align-content: center;
      gap: 1rem;

      &-text {
        display: grid;
      }
      &-title {
        font-size: 2.6rem;
        margin: 0;
        @include mq(md) {
          font-size: 3rem;
        }
      }
    }
    @include mq(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .redirect-anchor {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2.5rem 3rem;
    opacity: 0.2;
    transition: opacity 300ms;
    &:hover {
      opacity: 1;
    }
  }
  @include mq(hover) {
    &:hover {
      .redirect-anchor {
        opacity: 1;
      }
    }
  }
  &-social {
    display: flex;
    justify-content: center;
  }
  &-about {
    gap: 1rem;
  }
  &-img {
    height: auto;
  }
}
.social-link {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 5px 5px 10px var(--neutral-350),
    inset -5px -5px 10px var(--neutral-200);
  transition: 300ms;
  a {
    display: block;
  }
  &:hover {
    color: var(--brand-color, inherit);
  }
}
@include mq(darkMode) {
  .card-sign {
    img {
      filter: invert(1);
    }
  }
}
