@use "../config/" as *;
.form {
  &-control {
    box-shadow: inset 2px 2px 10px var(--neutral-350),
      inset -2px -2px 10px var(--neutral-200);
    background-color: var(--function-body);
    border: 0;
    width: 100%;
    color: unset;
    font-size: 2rem;
    height: 6.5rem;
    padding: 3rem 2rem 1rem;
    &:placeholder-shown {
      padding: 2rem;
      & + .form-label {
        font-size: 2rem;
        padding-top: 2rem;
      }
    }
  }
  &-group {
    position: relative;
    margin-bottom: 2rem;
  }
  &-label {
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    padding: 2rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    transition: font-size 300ms;
  }
  &-error {
    color: var(--function-error);
    &-global {
      margin-bottom: 2rem;
      font-weight: 600;
      color: var(--function-error);
      &:empty {
        display: none;
      }
    }
    &:empty {
      display: none;
    }
  }
  &-success {
    color: var(--function-success);
    &-global {
      margin-bottom: 2rem;
      font-weight: 600;
      color: var(--function-success);
      &:empty {
        display: none;
      }
    }
    &:empty {
      display: none;
    }
  }
}
