@use "../config/" as *;
.align-start {
  align-items: start;
}
.align-end {
  align-items: end;
}
@include mq(md) {
  .grid {
    display: grid;
    &-md-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .col-md {
    &-1 {
      grid-column: span 2;
    }
    &-2 {
      grid-column: span 2;
    }
  }
}
@include mq(lg) {
  .grid-lg {
    &-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .col-lg {
    &-1 {
      grid-column: span 1;
    }
    &-2 {
      grid-column: span 2;
    }
    &-3 {
      grid-column: span 3;
    }
  }
  .row-lg {
    &-2 {
      grid-row: span 2;
    }
  }
}
