@use "../config/" as *;
@include mq(md) {
  .grid {
    display: grid;
    &-4{
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 3rem;
    }
    &-3{
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 3rem;
    }
    &-2{
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 3rem;
    }
  }
  .col-2 {
    grid-column: span 2;
  }
  .row-2 {
    grid-row: span 2;
  }
}
