@use "../config/" as *;
.marquee {
  overflow: hidden;
  &-list {
    display: flex;
    gap: 3rem;
    width: max-content;
    animation: marquee 50s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
  }
}
@keyframes marquee {
  100% {
    transform: translateX(calc(-50% - 1.5rem));
  }
}
