@use "../config" as *;
.login {
  &-page {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
  }
  &-wrapper {
    width: 100%;
    max-width: 40rem;
    margin: auto;
  }
  &-form {
    margin-top: 2rem;
  }
}
