$colors: (
  "primary": (
    100: #c2ebff,
    300: #5b78f6,
    500: #0a58ca,
  ),
  "neutral": (
    100: #fff,
    200: #fdfdfd,
    300: #e0e0e0,
    350: #c3c3c3,
    400: #a8a8a8,
    500: #323232,
    700: #0f0f0f,
    900: #000,
  ),
  "function": (
    "text": #000,
    "title": #000,
    "body": #e0e0e0,
    "warning": #ffbb33,
    "error": #ff4444,
    "success": #00c851,
  ),
);
$darkModeColors: (
  "primary": (
    100: #c2ebff,
    300: #5b78f6,
    500: #0a58ca,
  ),
  "neutral": (
    900: #fff,
    700: #bcbcbc,
    500: #a8a8a8,
    400: #323232,
    350: #0e0e0e,
    300: #1b1b1b,
    200: #282828,
    100: #000,
  ),
  "function": (
    "text": #fff,
    "title": #fff,
    "body": #1b1b1b,
  ),
);

$breakpoints: (
  xs: 300px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$container: (
  xs: 100%,
  sm: 54rem,
  md: 72rem,
  lg: 96rem,
  xl: 114rem,
  xxl: 132rem,
);
$social: (
  instagram: #f859d4,
  github: #9a0fe5,
  linkedin: #5b78f6,
  youtube: #fd4444,
);
$service: ();
