@use "./map" as *;
@mixin mq($breakpoint) {
  @if ($breakpoint == hover) {
    @media (hover: hover) and (pointer: fine) {
      @content;
    }
  } @else if ($breakpoint == darkMode) {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  } @else {
    $size: map-get(
      $map: $breakpoints,
      $key: $breakpoint,
    );
    @media (min-width: $size) {
      @content;
    }
  }
}
