@use "map" as *;
@use "mixin" as *;

$font-primary: "__Inter_e66fe9", "__Inter_Fallback_e66fe9", sans-serif;
$grid-columns: 12; // max grid columns
$base-space: 0.5rem; //5px
$max-space: 5; // this is maximun number for creating of spacing variables, margins and paddings utility classes
:root {
  // generating css variables based on map
  @each $color, $varients in $colors {
    @each $varient, $value in $varients {
      --#{$color}-#{$varient}: #{$value};
    }
  }
  @include mq(darkMode) {
    @each $color, $varients in $darkModeColors {
      @each $varient, $value in $varients {
        --#{$color}-#{$varient}: #{$value};
      }
    }
  }
  // generating space variable
  @for $space from 0 through $max-space {
    --space-#{$space}: #{$space * 0.5rem};
  }
  // generating container max width
  @each $width, $value in $container {
    @if $width ==xs {
      --container: #{$value};
    } @else {
      @include mq($width) {
        --container: #{$value};
      }
    }
  }
  --logo-width: 9rem;
  --logo-height: 2.7rem;
  --header-height: 8.5rem;
  --sidebar: 100%;
  @include mq(md) {
    --sidebar: 9rem;
  }
}
