
#root{
  position: relative;
}

/* roboto font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* fallback */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
/* basic code for whole website  */

html {
    font-size: 10px;
    scroll-behavior: smooth;
    --whiteColor:rgb(241, 241, 241);
    --redColor1:#ff063c;
    --blueColor1:#3000ce;
    --purpleColor1:#7f44c0;
    --lightGreyColor1:#f2f2f2;
    --lightblack:#212121;
}
body{
    background-color: var(--whiteColor);
}
img {
    width: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

.inner {
    max-width: 1100px;
    margin: auto;
    padding: 1%;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* navigation starts  */
.logo a {
    text-decoration: none;
    color: var(--redColor1);
    font-size: 3rem;

}

.rightNav li {
    margin-left: 40px;
}

.rightNav a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--lightblack);
    text-transform: uppercase;
}

.hamburger {
    display: none;
}

.navbar {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--whiteColor);
}

.closeNavBar {
    display: none;
}

@media (max-width:767px) {
    .closeNavBar {
        display: block;
    }

    .rightNav .flexbox {
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        left: -1000vh;
        background-color: var(--whiteColor);
        width: 100%;
        top: 0px;
        height: 100vh;
        justify-content: center;
        align-items: center;
        transition: .3s;


    }

    .rightNav .flexbox.navbar-active {
        left: 0;
    }

    .rightNav li {
        margin: 10px 10px;
    }

    .hamburger {
        display: block;

    }

    .hamburger span {
        font-size: 4rem;
    }
}

/* banner starts  */
.banner {
    margin-top: 100px;
    width: 100%;
    height: 800px;
    margin-bottom: 40px;
    overflow: hidden;
}

.banner .inner {
    position: relative;
}

.threeBoxOne {
    width: 450px;
    height: 550px;
    position: absolute;
    left: 0;
    top: 60px;
    background-image: linear-gradient(var(--blueColor1), var(--purpleColor1));
}

.threeBoxTwo {
    width: 750px;
    height: 650px;
    position: absolute;
    left: 33%;
    background-image: linear-gradient(var(--redColor1), var(--purpleColor1));

}

.threeBoxThree {
    position: absolute;
    top: 130px;
    left: 60%;

    width: 100vw;
    height: 680px;
    background-image: linear-gradient(45deg, var(--blueColor1), var(--purpleColor1));
    z-index: -1;

}


.textArea {
    font-size: 10px;
    position: absolute;
    top: 70px;
    left: 50%;
    color: var(--whiteColor);
    z-index: 12;
    padding: 20px;
}

.textArea h1 {
    font-size: 14rem;
    line-height: 1;
}

.textArea p {
    font-size: 2.4rem;
    line-height: 1.5;
}

.textArea a {
    width: 100%;
    padding: 10px;
    max-width: 200px;
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--whiteColor);
    border: 2px solid;
    outline: none;
    margin-top: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.imageWrapper {
    position: absolute;
    width: 460px;
    top: 100px;
    left: 4%;
}

.imageWrapper img {
    width: 100%;
}

.imageWrapper .boxSmallGradient {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(-45deg, var(--redColor1), var(--purpleColor1));
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media (max-width:991px) {
    html {
        font-size: 7px;
    }

    .imageWrapper {
        width: 350px;
        height: 400px;
    }

    .threeBoxOne {
        height: 350px;
    }

    .threeBoxTwo {
        width: 750px;
        height: 500px;
        left: 10%;
    }

    .textArea {
        left: 400px;
        width: 400px;
        padding-right: 50px;

    }

    .threeBoxThree {
        height: 500px;
    }

    .banner {
        height: 636px;
    }

}

@media (max-width:767px) {
    .banner {
        margin-top: 50px;
        height: 991px;
    }

    .threeBoxTwo,
    .textArea {
        top: 350px;
        left: 10%;
        width: 88%;
        height: 640px;
        padding-top: 250px;
    }

    .threeBoxOne {
        left: -200px;
    }

    .threeBoxThree {
        top: 200px;
        left: 20%;
    }
}

@media (max-width:540px) {
    .imageWrapper {
        width: 300px;
    }

    .textArea h1 {
        font-size: 10rem;
    }

    .threeBoxTwo,
    .textArea {
        padding-top: 200px;
    }
}

/* skills sections  */
.skillsSections {
    margin: 100px auto;
    width: 100%;
    overflow: hidden;
}

.skillsSections>div {
    width: 30%;
}

.iconSize {
    width: 50px;
    height: 50px;
    background-color: var(--redColor1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.iconSize span {
    font-size: 3rem;
    color: var(--whiteColor);
    font-weight: 100;
}

.skills h3 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 400;
}

.skills p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.skill1 .iconSize {
    background-color: var(--purpleColor1);
}

.skill2 .iconSize {
    background-color: var(--blueColor1);
}

.skill3 .iconSize {
    background-color: var(--redColor1);
}

@media (max-width:767px) {
    .skillsSections {
        flex-direction: column;
    }

    .skillsSections>div {
        width: 80%;
        margin: 30px auto;
    }

    .skillsSections {
        margin: 50px auto;
    }
}


/* skills section  */
.futurePlans .inner {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 860px;
}

.futurePlans {
    background-image: linear-gradient(to top, var(--lightGreyColor1) 50%, var(--whiteColor) 50%);

}

.futurePlans .mainImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    z-index: 1;
}

.futurePlans .boxSmallGradient2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
    background-image: linear-gradient(45deg, var(--purpleColor1), var(--redColor1));

}

.futurePlans .bgGradientBox {
    width: 600px;
    height: 500px;
    position: absolute;
    top: 300px;
    left: 30%;
    background-image: linear-gradient(var(--redColor1), var(--purpleColor1));
}

.futurePlans .lapiSection {
    position: absolute;
    right: 0;
    width: 200px;
}

.futurePlans .textBoxSkills {
    position: absolute;
    background-color: var(--whiteColor);
    z-index: 2;
    top: 350px;
    left: 50%;
    padding: 50px;
}

.futurePlans .textBoxSkills h2 {
    font-size: 3rem;

}

.futurePlans .textBoxSkills p {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 40px;

}

.futurePlans .textBoxSkills a {
    color: var(--redColor1);
    font-size: 2rem;
    text-decoration: none;

}

@media (max-width:767px) {
    .futurePlans .bgGradientBox {
        top: 22%;
        height: 300px;
        left: 10%;
        width: 70%;
    }

    .futurePlans .textBoxSkills {
        top: 34%;
        left: 30%;
        width: 68%;
    }

    .futurePlans .mainImage {
        top: 5%;
    }

    .futurePlans .lapiSection {
        display: none;
    }

    .futurePlans .inner {
        height: 530px;
    }
}

@media (max-width:500px) {
    .futurePlans .inner {
        height: 700px;
    }

    .futurePlans .textBoxSkills {
        padding: 30px;
        top: 45%;
        left: 10%;
        width: 80%;
    }

    .futurePlans .mainImage {
        left: 10%;
        width: 80%;
    }

    .futurePlans .bgGradientBox {
        left: 30%;
        height: 400px;
        width: 100%;
    }
}


/* languages i know section  */
.language {
    background-color: var(--lightGreyColor1);
    padding: 30px 0;
}

.heading {
    width: 100%;
    text-align: center;
}

.heading h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

.heading h2 span {
    color: var(--redColor1);
}

.language .knowingDetails {
    width: 30%;
    margin: 50px 0;
    text-align: center;
    padding: 20px;
    background-color: var(--whiteColor);
    border-radius: 5px;
}

.knowingDetails.purple {
    border: 1px solid var(--blueColor1);

}

.knowingDetails.red {
    border: 1px solid var(--redColor1);

}

.knowingDetails h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
}

.knowingDetails p {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 20px;
}

.knowingDetails .iconOrImage {
    width: 50px;
    margin: auto;
}

@media (max-width:767px) {
    .language .knowingDetails {
        width: 80%;
        margin: 20px auto;
    }
}

/* mentor section  */
.mentor {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.mentor .inner {
    position: relative;
    padding-top: 50px;
    height: 1000px;
    z-index: 2;

}

.leftSidetext {
    width: 40%;
    color: var(--whiteColor);
}

.leftSidetext h2 {
    font-size: 4rem;
    line-height: 1.3;
}

.leftSidetext p {
    font-size: 2rem;
    line-height: 1.7;
    margin: 40px 0;
}

.leftSidetext > a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--whiteColor);
    color: var(--whiteColor);
    padding: 20px;
    width: 100%;
    max-width: 200px;
    transition: .3s;
    cursor: pointer;
    font-size: 1.4rem;
}

.leftSidetext >a:hover {
    background-color: var(--whiteColor);
    color: #000;
}

.mentor .backgroundBox {
    width: 1250px;
    min-width: 60%;
    height: 900px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(45deg, var(--blueColor1), var(--purpleColor1));
}

.rightBoxOne {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 20%;
    right: -10%;
    background-image: linear-gradient(var(--redColor1), var(--purpleColor1));
}

.imgone,
.imgtwo,
.imgthree {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    box-shadow: 2px 2px 50px;
}

.imgone img,
.imgtwo img,
.imgthree img {
    height: 100%;
    object-fit: cover;
}

.imgone {
    top: 10%;
    right: 0%;
    z-index: 2;
}

.imgtwo {
    top: 30%;
    right: 25%;
    z-index: 2;
}

.imgthree {
    top: 55%;
    right: 5%;
    z-index: 3;
}

@media (max-width:991px) and (min-width:768px) {
    .leftSidetext p {
        font-size: 2.9rem;
    }

    .leftSidetext button {
        font-size: 2rem;
    }

    .leftSidetext h2 {
        font-size: 5rem;
    }

    .imgone,
    .imgtwo,
    .imgthree {
        width: 250px;
        height: 350px;

    }

    .mentor .inner {
        height: 800px;
    }
}

@media (max-width:767px) {
    .leftSidetext {
        width: 90%;
        margin: auto;
    }

    .mentor .inner {
        height: 1350px;
    }

    .imgone,
    .imgtwo,
    .imgthree {
        width: 250px;
        height: 330px;

    }

    .imgone {

        top: 600px;
        right: 10%;
    }

    .imgtwo {

        top: 750px;
        right: 45%;
    }

    .imgthree {
        top: 950px;
        right: 10%;

    }

    .rightBoxOne {
        top: 650px;
        width: 100%;
    }
}

@media (max-width:500px) {

    .imgone,
    .imgtwo,
    .imgthree {
        width: 210px;
        height: 280px;

    }

    .imgone {

        top: 680px;
    }

    .imgtwo {

        top: 830px;
    }

    .imgthree {
        top: 1030px;

    }

    .rightBoxOne {
        top: 730px;
    }

}

/* .mywork {
    height: 1000px;
} */
.mywork {
    overflow: hidden;
}

.mywork .header {
    text-align: center;
    width: 100%;


}

.mywork .inner {
    position: relative;
}

.bgBoxGradient {
    width: 800px;
    height: 450px;
    position: absolute;
    top: 30%;
    left: 50%;
    background-image: linear-gradient(-45deg, var(--redColor1), var(--purpleColor1));
}

.bgBoxGradient2 {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 70%;
    left: 25%;
    background-image: linear-gradient(45deg, var(--blueColor1), var(--purpleColor1));
}

.mywork .header h2 {
    font-size: 24px;

}

.mywork .header p {
    font-size: 17px;
    margin: 20px 0;
}

.mywork .workShowing {
    width: 100%;
    position: relative;
    /* height: 240px; */
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 0;
    overflow: hidden;
}

.mywork .workShowing .imageWrapWork {
    height: 240px;
    overflow: hidden;
    position: relative;
    transition: 5s;
    background-size: cover;
}

.mywork .workShowing:hover .imageWrapWork  {
    background-position: bottom;
}

.mywork .workShowing img {
    border-radius: 5px;
}

.mywork .workShowing .textHover {
    width: 100%;
    padding: 20px;
    background-color: var(--whiteColor);
    box-shadow: 2px 2px 10px -5px;
    transition-timing-function: ease-in-out;
}

.mywork .workShowing .textHover span {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    color: var(--purpleColor1);
    margin: 5px;
    width: 100%;
    max-width: 100px;
    text-align: center;
}

.mywork .workShowing.red .textHover span,
.mywork .workShowing.red .textHover a {
    color: var(--redColor1);
}

.mywork .workShowing.purple .textHover a,
.mywork .workShowing.purple .textHover span {
    color: var(--blueColor1);
}



.mywork .workShowing .textHover h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.mywork .workShowing .textHover p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.mywork .workShowing .textHover a {
    font-size: 15px;
    line-height: 1.4;
    color: var(--redColor1);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--redColor1) !important;
    width: 40px !important;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: var(--whiteColor) !important;
    transition: .3s !important;
}

/* contact section  */
.contact .flexbox {
    justify-content: center;

}

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.contact .header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.contact .header h3 {
    font-size: 2.4rem;
}

.contact .designBox {
    color: #000;
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.contact .designBox .iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--redColor1);
    border-radius: 100%;
    margin: 20px 0;
}

.contact .designBox .iconBox span {
    color: var(--whiteColor);
    font-weight: 100;
    font-size: 30px;
}

.contact .designBox.red .iconBox {
    background-color: var(--redColor1);

}

.contact .designBox.purple .iconBox {
    background-color: var(--purpleColor1);

}

.contact .designBox.blue .iconBox {
    background-color: var(--blueColor1);

}

.contact .designBox h6 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.3px;
}

@media (max-width:500px) {
    .contact .designBox {
        width: 80%;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(-45deg, var(--redColor1), var(--purpleColor1));
}

footer p {
    font-size: 20px;
    color: var(--whiteColor);
}

footer p a {
    color: var(--whiteColor);
}
/* timeline  */
.timeline::-webkit-scrollbar{
    width: 10px;
}
.timeline{
    margin: 20px 0;
    height: 100%;
    height: 400px;
    overflow: auto;
}
.topsize {
    display: flex;
    justify-content: start;
    align-items: center;
}
.timeline.loadmore{
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    background-color: #000;
}
.topsize .paraside{
    font-size: 14px;
    padding-left: 10px;
}
.topsize .iconSide {
    width: 50px;
    height: 50px;
    background: linear-gradient(var(--redColor1), var(--purpleColor1))   ;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topsize>div {
    margin-right: 5px;
}
.infoside{
    padding-left: 50px;
    margin-left: 25px;
    border-left: 1px solid var(--whiteColor);
}
.infoside h3{
    font-size: 1.7rem;
    margin: 0;
}
.infoside p{
    padding: 10px 0;
    margin: 0;
    font-size: 1.2rem;
}