@use "../config/" as *;
main {
  padding-top: 6rem;
}
.dark-mode {
  color-scheme: dark;
}
.text {
  opacity: 0.8;
  line-height: 2;
}
.highlight {
  color: var(--primary-300);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  padding-inline: var(--space-4);
  max-width: var(--container);
  margin: auto;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.gap-2 {
  gap: 2rem;
}
.mobile {
  @include mq(md) {
    display: none;
  }
}
.desktop {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.top-shape {
  position: absolute;
  right: 0;
  top: 0;
  width: 73%;
  height: 100vh;
  filter: blur(4rem);
  @include mq(md) {
    filter: blur(8rem);
  }
}
