@use "../config/" as *;
// margin and padding 0 for all elements and border box
* {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
// base font size and scroll behaviour for smooth scroll animation
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  color-scheme: dark;
}
// body
// 1. As a best practice, apply a default `background-color`.
// 2. As a best practice, apply a default `color` so that if text color changes just change body text color.
body {
  font-family: $font-primary, Arial, "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  background-color: var(--function-body);
  color: var(--function-text); //2
}
hr {
  border-top: 0.1rem solid var(--black);
}
small,
label {
  font-size: 1.2rem;
}
big {
  font-size: 1.6rem;
}
sub,
sup {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  color: var(--function-title);
  font-weight: 500;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
ul,
ol {
  padding-left: 2rem;
}
a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
blockquote {
  margin: 0 0 1rem;
}
button {
  border: none;
  background-color: transparent;
  &:not(:disabled) {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
textarea {
  resize: vertical; // 1
}
input {
  &:focus-within {
    outline: none;
  }
}
iframe {
  border: 0;
}
[hidden] {
  display: none;
}
@include mq(md) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1.6rem;
  }
}
